@charset "UTF-8";
/*.font-family по умолчанию.*/
/*.Переменные.*/
/*.Миксины.*/
/*.Миксины.*/
/*.Миксины через сниппеты.*/
/*.Готовые классы.*/
/*=========-Готовые классы-========================================================*/
/*.Меню бургер + active.*/
.burger {
  display: block;
  position: relative;
  width: 30px;
  height: 22px;
  top: 0;
  left: 0; }
  .burger:before, .burger:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: black;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  .burger:before {
    top: 2px; }
  .burger:after {
    bottom: 0; }
  .burger > span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    background-color: black;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  .burger.active:before {
    top: 11px;
    background-color: black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  .burger.active:after {
    bottom: 9px;
    background-color: black;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  .burger.active > span {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  @media (min-width: 768px) {
    .burger {
      display: none; } }

/*.Отлючение скролла при бургере.*/
body.lock {
  overflow: hidden;
  width: 100%; }

/*.Адаптив фото.*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .ibg > img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden; }

/*==================================================================================*/
/*.Обнуление стилей.*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*.Оболочка wrapper.*/
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Arial", sans-serif; }

/*.container.*/
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .container {
      max-width: 990px; } }
  @media (max-width: 992px) {
    .container {
      max-width: 770px; } }
  @media (max-width: 767px) {
    .container {
      max-width: none; } }

.canvas {
  display: block;
  background-color: black; }
