//</ПОДКЛЮЧЕНИЕ ШРИФТОВ>
			
//=======================================================
/*.font-family по умолчанию.*/
$font-family: "Arial";
/*.Переменные.*/
$mw1: 1200px;
$mw2: 992px;
$mw3: 767px;
$mw4: 425px;
$mw5: 235px;
$cw1: 1180px + 20px;
$cw2: 970px + 20px;
$cw3: 750px + 20px;
/*.Миксины.*/
@import "mixins.scss";
/*.Готовые классы.*/
@import "ready_classes.scss";
/*.Обнуление стилей.*/
@import "null_style.scss";
/*.Оболочка wrapper.*/
.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: $font-family,sans-serif; 
}
/*.container.*/
.container{
	@include container($cw1);
	//=========-media-=======================================
		@media(max-width: $mw1){
			max-width: $cw2;
		}
		@media(max-width: $mw2){
			max-width: $cw3;
		}
		@media(max-width: $mw3){
			max-width: none;
		}
	//=======================================================
}	
//</ОСНОВНОЙ БЛОК>
.canvas{
	display: block;
	background-color: black;
}		
//=======================================================
//</ОСНОВНОЙ БЛОК>
			
//=======================================================
//</ОСНОВНОЙ БЛОК>
			
//=======================================================
//</ОСНОВНОЙ БЛОК>
			
//=======================================================
//</ОСНОВНОЙ БЛОК>
			
//=======================================================
//</ОСНОВНОЙ БЛОК>
			
//=======================================================